#submit-box .button {
  height: 4.4vh;
  width: 5vw;
  font-size: larger;
}
#submit-box .textinput {
  height: 4vh;
  width: 37vh;
  font-size: larger;
}
#submit-box {
  border: 1px solid purple;
  height: 5vh;
}
#video-info {
  border: 1px solid orange;
  height: 25vh;
}
#video-info-container {
  display: flex;
  flex-direction: column;
  gap: 3vh;
}
#playlist-container {
  border: 1px solid black;
  width: 350px;
  height: 70rem;
  display: flex;
  flex-direction: column;
  gap: 3vh;
}
#playlist-container span {
  border: 1px solid black;
  height: 15vh;
  /* -- */
  text-align: center;
  display: flex;
}
#playlist-container span .text-elements {
  width: 300px;
  border: 1px solid red;
}
#playlist-container span .buttons {
  border: 1px solid blue;
  height: 15vh;
  width: 45px;
  display: flex;
  flex-direction: column;
  gap: 1vh;
}
#playlist-container span .buttons span {
  height: 4vh;
  border: 1px solid black;
  justify-content: center;
  line-height: 4vh;
  font-size: xx-large;
  cursor: pointer;
  /* to change color */
  /* color: transparent; 
  text-shadow: 0 0 0 red; */
}
#playlist-container span .buttons span:hover {
  background-color: purple;
}
body {
  display: flex;
  gap: 5%;
  justify-content: center;
}
